<!--
    This HTML template file is used for rendering the home page of the WG/BB Voting System.
    It extends the "base.html" template.

    The content of the home page is defined within the "content" block.

    If the user is authenticated (logged in), it displays the following links:
        - "Vote" link: Takes the user to the voting page.
        - "Results" link: Takes the user to the results page.
        - "Log out" link: Logs the user out of the system.

    If the user is not authenticated (not logged in), it displays a message asking the user to either log in or create an account to vote.

    This template is used to provide the user interface for the WG/BB Voting System.
-->
{% extends "base.html" %} 

{% block content %}

<div class="login-form">
    <h1>Welcome to the WG/BB Voting System</h1>

    {% if current_user.is_authenticated %}
    
        <a href="/vote">Vote</a>
        <a href="/results">Results</a>
        <a href="/logout">Log out</a>

    {% else %} 
        
        Please <a href="{{ url_for('auth.login') }}">log in</a> or <a href="{{ url_for('auth.register') }}">create an account</a> to vote. 
    
    {% endif %}
</div>

{% endblock %}