{% extends "base.html" %} Vote Page {% block content %}
<main>
  <h2>What do you see?</h2>
  <img src="../../static/The_dress_blueblackwhitegold.jpg" alt="WG or BB" />
  <form class="vote-form" action="" method="post">
    <label for="wg">White Gold</label>
    <input class="wg-btn" type="radio" id="wg" name="vote" value="wg" />
    <label for="bb">Black Blue</label>
    <input class="bb-btn" type="radio" id="bb" name="vote" value="bb" />
    <input type="submit" value="Vote" />
  </form>
</main>
{% endblock %}
