body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}

/* vote page ================================= */

.vote-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.vote-image {
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vote-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="radio"] {
    display: none;
}

.vote-wg-btn {
    background-color: #cab376;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.vote-bb-btn {
    background-color: #9dafdc;
    color: #000000;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

/* result page ================================= */
