{% extends "base.html" %}

{% block content %}

<div class = "login-form">
    <h2>Login</h2>
    <form method="POST" action="/login">
        <!-- Assuming you'll fill these with Flask/Werkzeug -->
        <!-- <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form> -->
        {{ form.csrf_token }}
        {{ form.email() }}
        {{ form.password() }}
        {{ form.submit() }}

    </form>

    <a href="{{ url_for('auth.register') }}">Don't have an account? Sign Up</a>
</div>

{% endblock %}